<!doctype html>
<html lang="pt-br">
<head th:replace="~{base/base :: head}">
		<!--  template  head  está na pasta base/base.html -->
</head>
 
<body>
  <div th:replace="~{base/base :: logo}">
				<!-- template  logo  está na pasta base/base.html - -->
  </div>
  
  <a href="#listas"> 
	  <div th:replace="~{base/base :: titulo('CADASTRO DE CARTÃO')}" >
					<!-- template  titulo  está na pasta base/base.html --->
	  </div>
  </a>
  	<main class="container">
		    
		<div class=" mb-5" >
			<form class=" mb-3" th:action="@{/cartao/cadastrar}" th:object="${cartaocadastro}" method="POST">
			
			   		 <fieldset>
						<input type="number" hidden th:field="*{idcartao}" id="idcartao"  class="form-control" placeholder="DIGITE O ID" />
					</fieldset> 
			    
					<fieldset>
						<label for="numero" class="form-label">Numero</label>
						<input type="number" required="required" th:field="*{numero}"  id="numero" class="form-control" placeholder="DIGITE O NUMERO FINAL DO CARTÃO" />
					</fieldset>
					
					<fieldset>
						<label for="validade" class="form-label">Validade</label>
						<input type="date" required="required" th:field="*{validade}" id="validade" class="form-control" placeholder="0" />
					</fieldset>					


			        <fieldset>
							<label for="tipo" class="form-label">Tipo</label>
							<select th:field="*{tipo}"  id="tipo" class="form-select form-select-lg mb-3 p-2 col-lg" >
							<option 
							 	th:each="tipocartaoOp : ${T(br.com.tcc.financas.model.dados.TipoCartao).values()}" 
				       			th:value="${tipocartaoOp}"
				       			th:text="${tipocartaoOp.displayValue}"
							></option>  
							</select>
					</fieldset>


			        <fieldset>
							<label for="pessoa" class="form-label">Pessoa</label>
							<select th:field="*{pessoa}"   id="pessoa" class="form-select form-select-lg mb-3 p-2 col-lg" >
							<option 
								th:each="pessoalist : ${pessoas}" 
				        		th:value="${pessoalist.idpessoa}"
				        		th:text="${pessoalist.nome}"
				        		th:selected="${pessoalist  == cartaocadastro.pessoa}"
							></option>							 
							</select>
					</fieldset>
					
					<br/>
					
					<button type="submit" class="btn btn-success">Salvar</button>
					<a class="btn btn-secondary" href="/cartao" role="button">Cancelar</a>
									
					
				</form>  
	</div>
		    
		<div id="listas">    
	    <table class="table table-striped table-hover">
		    <thead>
		        <tr>
		            <th> Numero </th>
		            <th> Validade </th>
		            <th> Tipo </th>
		            <th> Pessoa </th>		           
		            <th> Id </th>
		            <th colspan="2"> Ações </th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="cartao : ${cartoes}" >
		        	<td><span th:text="${cartao.numero}" > Numero</span> </td>
		            <td><span th:text="${#temporals.format(cartao.validade, 'MMM/yy')}" > Validade </span></td>
		            <td><span th:text="${cartao.tipo}" > Tipo </span></td>
		            <td><span th:text="${cartao.pessoa.nome}"> Pessoa </span></td>
		            <td><span th:text="${cartao.idcartao}"> Id </span></td>
		            <td>
		            		<a class="btn btn-success mb-3 p-1" th:href="@{/cartao/{id}(id=${cartao.idcartao})}" > Editar </a>
		            	<form method="POST" th:action="@{/cartao/{id}/excluir(id=${cartao.idcartao})}"  >
	            			<button type="submit" class="btn btn-danger p-1"> Excluir </button>
	            		</form>
	            	</td>
		        </tr>
		    </tbody>
		</table>
		</div>    
		<div class="col-lg-12" style="text-align: right"> 
			<a class="btn btn-link" href="#" role="button">Retorno</a>
		</div> 		
	</main>  
  
  
  
  
    <div th:replace="~{base/base :: rodape}" >
				<!-- template  rodapé  está na pasta base/base.html - -->
	</div>
</body>
</html>
