<!doctype html>
<html lang="pt-br">
<head th:replace="~{base/base :: head}">
		<!--  template  head  está na pasta base/base.html -->
</head>
 
<body>
  <div th:replace="~{base/base :: logo('CONSULTAS')}">
				<!-- template  logo  está na pasta base/base.html - -->
  </div>
  

  
  <div th:replace="~{base/base :: Atalho}">
				<!-- template  Atalho  está na pasta base/base.html - -->
  </div>  
  

       <main class="container">
    	
			
		  <div  class=" mb-5" id="individualPessoa"> 
		      	<div th:replace="~{base/base :: titulo('Consulta Individual por Pessoa')}" >
					<!-- template  titulo  está na pasta base/base.html --->
				</div>
		    

			    <form class=" mb-3" th:action="@{/consultas/buscarpessoa}" th:object="${consultaslista}" method="POST">
			  			    
			   		    
					<fieldset>
						<label for="data" class="form-label">Mês e Ano Correspondente</label>
						<input    required="required" th:field="*{data}"  id="data"  class="form-control" placeholder="0" />
					</fieldset>
					
			        <fieldset>
							<label for="pessoa" class="form-label">Pessoa</label>
							<select th:field="*{pessoa}" id="pessoa" class="form-select form-select-lg mb-3 p-2 col-lg" >
							<option 
								th:each="pessoalist : ${pessoas}" 
				        		th:value="${pessoalist.idpessoa}"
				        		th:text="${pessoalist.nome}"
				        		th:selected="${pessoalist  == consultaslista.pessoa}"
							></option>
							    
							</select>
					</fieldset>
					<fieldset>
							<label for="tipogasto" class="form-label">Tipo de Gasto</label>
							<select  th:field="*{tipogasto}" id="tipogasto" class="form-select form-select-lg mb-3 p-2 col-lg" >
							<option 
								th:each="tipogastoOp : ${T(br.com.tcc.financas.model.dados.TipoGasto).values()}" 
				       			th:value="${tipogastoOp}"
				       			th:text="${tipogastoOp.displayValue}"
							></option>
							</select>
					</fieldset>
					<br/>
				<div class="container">
					<div class="row align-items-start">
						<div class="col">
							<button type="submit" class="btn btn-success">Buscar</button>
							<a class="btn btn-secondary" href="/consultas" role="button">Limpar</a>
						</div>
						<div class="col d-flex justify-content-end">
						</div>
					</div>
				</div>
					
				</form>
			    
					
			</div>		
			
		
		
		  <div  class=" mb-5 " id="individualCartao"> 
		   		 <div th:replace="~{base/base :: titulo('Consulta Individual por Cartão')}" >
					<!-- template  titulo  está na pasta base/base.html --->
				</div>
		    
			    <form class=" mb-3" th:action="@{/consultas/buscarcartao}" th:object="${consultaslista}" method="POST">
					<fieldset>
						<label for="data" class="form-label">Mês e Ano Correspondente</label>
						<input  required="required" th:field="*{data}"  id="data" class="form-control" placeholder="0" />
					</fieldset>
					
			        <fieldset>
							<label for="cartao" class="form-label">Cartão</label>
							<br>
							<select th:field="*{cartao}" id="cartao" class="form-select form-select-lg mb-3 p-2 col-lg" >
							<option 
								th:each="cartaolist : ${cartoes}" 
				        		th:value="${cartaolist.idcartao}"
				        		th:text="${cartaolist.numero}"
				        		th:selected="${cartaolist  == consultaslista.cartao}"
							></option>
							</select>
					</fieldset>
					
					<br/>
					
				<div class="container">
					<div class="row align-items-start">
						<div class="col">
							<button type="submit" class="btn btn-success">Buscar</button>
							<a class="btn btn-secondary" href="/consultas" role="button">Limpar</a>
						</div>
						<div class="col d-flex justify-content-end">
						</div>
					</div>
				</div>
				</form>
					
				
		</div>	
		
		
		  <div  class=" mb-5" id="gastosMensais"> 
		  
		      	<div th:replace="~{base/base :: titulo('Consulta total dos Gastos Mensais')}" >
					<!-- template  titulo  está na pasta base/base.html --->
				</div>
		    
			    <form class=" mb-3" th:action="@{/consultas/buscargastosmensais}" th:object="${consultaslista}"  method="POST">
					<fieldset>
						<label for="data" class="form-label">Mês e Ano Correspondente</label>
						<input  required="required" th:field="*{data}"  id="data" class="form-control" placeholder="0" />
				</fieldset>
						<br>
				<div class="container">
					<div class="row align-items-start">
						<div class="col">
							<button type="submit" class="btn btn-success">Buscar</button>
							<a class="btn btn-secondary" href="/consultas" role="button">Limpar</a>
						</div>
						<div class="col d-flex justify-content-end">
						</div>
					</div>
				</div>
				</form>
			
		
		
				
				
				
		</div>	
		
			
		
		<div  class="mb-5" id="gastosCartao"> 
		  
				<div th:replace="~{base/base :: titulo('Consulta total dos Gastos do Cartão')}" >
					<!-- template  titulo  está na pasta base/base.html --->
				</div>
		    
			    <form class=" mb-3" th:action="@{/consultas/buscargastoscartao}" th:object="${consultaslista}" method="POST">
					<fieldset>
						<label for="data" class="form-label">Mês e Ano Correspondente</label>
						<input  required="required" th:field="*{data}" id="data" class="form-control" placeholder="0" />
					</fieldset>
							<br>				
				<div class="container">
					<div class="row align-items-start">
						<div class="col">
							<button type="submit" class="btn btn-success">Buscar</button>
							<a class="btn btn-secondary" href="/consultas" role="button">Limpar</a>
						</div>
						<div class="col d-flex justify-content-end">
						</div>
					</div>
				</div>
					
				</form>
			
				    
			    
				
		</div>		
		
		
		
		
		  <div  class="mb-5"  id="gastosTotais"> 
		  
		  
				<div th:replace="~{base/base :: titulo('Consulta de todos os Gastos')}" >
					<!-- template  titulo  está na pasta base/base.html --->
				</div>
		    
			    <form class=" mb-3" th:action="@{/consultas/buscartotal}" th:object="${consultaslista}" method="POST">
					<fieldset>
						<label for="data" class="form-label">Mês e Ano Correspondente</label>
						<input required="required" th:field="*{data}" id="data" class="form-control" placeholder="0" />
					</fieldset>
							<br>			
				<div class="container">
					<div class="row align-items-start">
						<div class="col">
							<button type="submit" class="btn btn-success">Buscar</button>
							<a class="btn btn-secondary" href="/consultas" role="button">Limpar</a>
					</div>
				</div>
				</form>
			
		
	  	
				
		</div>
				
	</main>  

    <div th:replace="~{base/base :: rodape}" >
				<!-- template  rodapé  está na pasta base/base.html - -->
	</div>
	
	<!-- Variaveis de transferencia para o Script, pasta static/script/alertas.js - -->
	<div>
		<input type="hidden" id="alertaMesAtual" th:value="${alertas.alertaMesAtual}" />
		<input type="hidden" id="alertaListaIdAtual"  th:value="${alertas.idMesAtual}"/>
		<input type="hidden" id="alertaMesProximo" th:value="${alertas.alertaMesProximo}" />
		<input type="hidden" id="alertaListaIdProximo"  th:value="${alertas.idMesProximo}"/>
		<input type="hidden" id="alertaListaDataAtual"  th:value="${alertas.dataMesAtual}"/>
		<input type="hidden" id="alertaListaDataProximo"  th:value="${alertas.dataMesProximo}"/>
	</div>
	
	<script th:src="@{/script/alertas.js}"></script>

</body>
</html>
